{% extends "base.html" %}

{% block announce %}
    <pre>
    Latest Updates:
        July 13th:
        - OSDMenu 1.3.0
        - wLE R3Z 4.70
        - R3Configurator 1.3.0 with support for OSDMenu 1.3.0
        Jun 11th:
        - PS2BBL Extended v2.0. Supports ALL devices including exFAT HDD! 30% Faster boot! Included in UMCS BOOT
        - wLE R3Z 4.50 Supports ALL devices, hides what you can't use, RetroGem ID, Keyboard updates etc. Included in UMCS BOOT. 
        - R3Configurator v1.1.0 updated for PS2BBL Extended v2.0
    </pre>
    
{% endblock %}